@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.golos-text{
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-style: normal;
}



.golos-text-1 {
  font-family: "Golos Text 1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

 


body{
  background-color:  rgba(232, 237, 243, 1);
  ;
  transform: scale(1);
  transform-origin: 0 0;
  transition: transition 0.5s ease-in-out;
}
 




